/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GLOBAL RULES */
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  font-size: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

.container {
  padding: 0 10%;
}

.text {
  color: #33475b;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.8;
}

.fas {
  color: #33475b;
  font-weight: 600;
  font-size: 14px;
}

.title {
  color: #33475b;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.col {
  float: left;
}

.col-50 {
  float: left;
  width: 50%;
}

.button {
  background-color: #ff7a59;
  border-radius: 5px;
  display: inline-block;
  padding: 20px 30px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.button:hover {
  color: #33475b;
}

.box {
  background-color: white;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0, .06);
  border-radius: 8px;
}

.box-title {
  color: #33475b;
  font-size: 22px;
}

.box-sub-title {
  color: #33475b;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

.checked i.fas {
  color: #ff7a59;
  padding-right: 12px;
}

.checked li {
  text-transform: capitalize;
}

.box-wrapper {
  padding: 5% 10%;
}

/* HEADER */
header li > a:hover {
  color: #ff7a59;
}

header i.fa-chevron-down {
  padding-left: 5px;
}

header li .text,
header li .button {
  vertical-align: middle;
  line-height: 0;
}

header li .fas{
  vertical-align: middle;
}

/* LOG-IN bar menu */
.log-in-bar a.button {
  display: inline;
  padding: 10px;
}

.log-in-bar {
  background-color: #f4f9fd;
  border-bottom: 2px solid  #33475b;
  padding: 30px 0;
}

.log-in-bar ul {
line-height: 15px;
}

/* LOG-IN bar menu Left col */
#log-in-left i.fa-globe-europe {
  padding-right: 5px;
}

#log-in-left li {
  padding: 0 20px;
}

#log-in-left li:first-child {
  border-right: 1.4px solid  #33475b;
  padding-left: 0px;
}

/* LOG-IN bar menu Right col */
#log-in-right ul {
  text-align: right;
}

#log-in-right li:nth-child(2) {
  padding: 0 20px;
}

#log-in-right li:nth-child(2) a {
  padding: 10px;
  border: 1.2px solid  #ff7a59;
  border-radius: 5px;
  color: #ff7a59;
}

#log-in-right li:nth-child(2) a:hover {
  color: #33475b;
  border-color: #33475b;
}

#log-in-right i.fa-search:hover {
  color: #00bfff;
}

/* Navigation bar */
nav.menu {
  padding: 20px 0;
}

nav.menu ul {
  line-height: 30px;
}

nav.menu li:not(:last-child) {
  padding: 0 15px;
}

/* Navigation bar Left column */
#nav-left img{
  height: 30px;
}

/* Navigation bar Right column */
#nav-right {
  text-align: right;
}

/* HEADER Image */
.header-image {
  height: 510px;
  background-color: #fff4ed;
  background-image: url("../img/jumbotron.png");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

/* SUB-HEADER Image */
.sub-header-image {
  background-color: #a6e8e0;
  border-top: 1.8px solid  #33475b;
  border-bottom: 2px solid #33475b;
  height: 75px;
}

/* HEADER Head-Title */
#head-title {
  width: 50%;
  padding-top: 70px;
}

#head-title > * {
  padding-bottom: 25px;
}

#head-title h1.title {
  font-size: 45px;
}

#head-title > p:last-child {
  font-size: 12px;
  letter-spacing: -0.8px;
  padding-bottom: 0px;
}

/* MAIN */
main #hub-offers {
  background-color: #f4f9fd;
}

/* MAIN Section Hub-Offers */
/* MAIN General-Presentation */
#hub-offers .general-presentation img {
  height: 200px;
  margin: 0 auto;
  display:block;
}

#hub-offers .general-presentation h2 {
  padding-bottom: 20px;
  font-size: 35px;
}

#hub-offers .general-presentation p,
#hub-offers .general-presentation h2 {
  text-align: center;
}

/* MAIN Hubspot-Crm */
#hub-offers .hubspot-crm .box-wrapper > .col:first-child {
  width: 25%;
  margin-right: 10%;
  text-align: center;
}

#hub-offers .hubspot-crm .col:first-child img {
  height: 100px;
  margin-bottom: 25px;
}

#hub-offers .hubspot-crm .box-wrapper > .col:nth-child(2) {
  width: 65%;
}

#hub-offers .hubspot-crm .box-wrapper > .col:nth-child(2) > *:not(:last-child) {
  padding-bottom: 30px;
}

#hub-offers .hubspot-crm .checked > li:not(:first-child) {
  padding-left: 18px;
}

#hub-offers .hubspot-crm .box-wrapper > .col:nth-child(2) .inline-title > h4 {
  width: 40%;
}

#hub-offers .hubspot-crm .box-wrapper > .col:nth-child(2) .inline-title hr {
  width: 60%;
  margin-top: 10px;
  border:1.2px solid lightgrey;
}

/* MAIN Section Columns */
.mark-sale-serv {
  padding: 50px 0;
}
.mark-sale-serv ul.checked + div {
  text-align: center;
}

.mark-sale-serv .box-wrapper > *:not(:last-child):not(hr) {
  padding-bottom: 40px;
}

.mark-sale-serv .box-wrapper {
  padding: 5% 10%;
}

.mark-sale-serv h3, h4, p {
  text-align: center;
}

.mark-sale-serv hr {
  border:1.2px solid lightgrey;
  margin: 30px 0;
}

.mark-sale-serv li {
  display:block;
  line-height: 1.2;
}

.mark-sale-serv .box-wrapper img {
  height: 110px;
  margin: 0 auto;
  display:block;
}

.mark-sale-serv .box-wrapper < .col {
  width: 30%;
}

.marketing-hub, .sales-hub, .services-hub {
  width: 30%;
}

.sales-hub {
  margin: 0 5%;
}
