/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GLOBAL RULES */
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  font-size: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

.container {
  padding: 0 10%;
}

.text {
  color: #33475b;
  font-weight: 600;
  font-size: 14px;
}

.title {
  color: #33475b;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.col {
  float: left;
}

.col-50 {
  float: left;
  width: 50%;
}

.button {
  background-color: #ff7a59;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  color: #33475b;
}


/* HEADER */
header li > a:hover {
  color: #ff7a59;
}

header i.fa-chevron-down {
  padding-left: 5px;
}

/* LOG-IN bar menu */
.log-in-bar li .text{
  vertical-align: middle;
}

.log-in-bar {
  background-color: #f5f8fa;
  border-bottom: 2px solid  #33475b;
  padding: 30px 0;
}

.log-in-bar ul {
line-height: 15px;
}

/* LOG-IN bar menu Left col */
#log-in-left i.fa-globe-europe {
  padding-right: 5px;
}

#log-in-left li {
  padding: 0 20px;
}

#log-in-left li:first-child {
  border-right: 1.4px solid  #33475b;
  padding-left: 0px;
}

/* LOG-IN bar menu Right col */
#log-in-right ul {
  text-align: right;
}

#log-in-right li:nth-child(2) {
  padding: 0 20px;
}

#log-in-right li:nth-child(2) a {
  padding: 10px;
  border: 1.2px solid  #ff7a59;
  border-radius: 5px;
  color: #ff7a59;
}

#log-in-right li:nth-child(2) a:hover {
  color: #33475b;
  border-color: #33475b;
}

#log-in-right i.fa-search:hover {
  color: #00bfff;
}

/* Navigation bar */
nav.menu {
  background-color: white;
  padding: 20px 0;
}

nav.menu ul {
  line-height: 30px;
}

nav.menu li {
  padding: 0 15px;
}

/* Navigation bar Left column */
#nav-left img{
  height: 30px;
}

/* Navigation bar Right column */
#nav-right {
  text-align: right;
}

#nav-right li:last-child {
  padding-right: 0px;
}

/* HEADER Image */
.header-image {
  height: 510px;
  background-color: #fff4ed;
  background-image: url("../img/jumbotron.png");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

/* SUB-HEADER Image */
.sub-header-image {
  background-color: #a6e8e0;
  border-top: 1.8px solid  #33475b;
  border-bottom: 2px solid #33475b;
  height: 75px;
}

/* HEADER Head-Title */
#head-title {
  width: 50%;
  padding-top: 70px;
}

#head-title .button {
  display: inline-block;
}

#head-title .title {
  font-size: 45px;
}

#head-title > * {
  padding-bottom: 25px;
}

#head-title a.button {
  padding: 20px 30px;
}

#head-title > p {
  line-height: 1.8;
}

#head-title > p:last-child {
  font-size: 12px;
  letter-spacing: -0.8px;
  padding-bottom: 0px;
}
