/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GLOBAL RULES */
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  font-size: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

.container {
  padding: 0 10%;
}

.text {
  color: #33475b;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.8;
}

.fas {
  color: #33475b;
  font-weight: 600;
  font-size: 14px;
}

.title {
  color: #33475b;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.col {
  float: left;
}

.col-50 {
  float: left;
  width: 50%;
}

.button {
  background-color: #ff7a59;
  border-radius: 5px;
  display: inline-block;
  padding: 20px 30px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.button:hover {
  color: #33475b;
}

/* HEADER GENERAL */
header li > a:hover {
  color: #ff7a59;
}

header i.fa-chevron-down {
  padding-left: 5px;
}

header li .text,
header li .button {
  vertical-align: middle;
  line-height: 0;
}

header li .fas{
  vertical-align: middle;
}

/* LOG-IN bar menu */
.log-in-bar a.button {
  display: inline;
  padding: 10px;
}

.log-in-bar {
  background-color: #f4f9fd;
  border-bottom: 2px solid  #33475b;
  padding: 30px 0;
}

.log-in-bar ul {
line-height: 15px;
}

/* LOG-IN bar menu Left col */
#log-in-left i.fa-globe-europe {
  padding-right: 5px;
}

#log-in-left li {
  padding: 0 20px;
}

#log-in-left li:first-child {
  border-right: 1.4px solid  #33475b;
  padding-left: 0px;
}

/* LOG-IN bar menu Right col */
#log-in-right ul {
  text-align: right;
}

#log-in-right li:nth-child(2) {
  padding: 0 20px;
}

#log-in-right li:nth-child(2) a {
  padding: 10px;
  border: 1.2px solid  #ff7a59;
  border-radius: 5px;
  color: #ff7a59;
}

#log-in-right li:nth-child(2) a:hover {
  color: #33475b;
  border-color: #33475b;
}

#log-in-right i.fa-search:hover {
  color: #00bfff;
}

/* Navigation bar GENERAL */
nav.menu {
  padding: 20px 0;
}

nav.menu ul {
  line-height: 30px;
}

nav.menu li:not(:last-child) {
  padding: 0 15px;
}

/* Navigation bar Left column */
#nav-left img{
  height: 30px;
}

/* Navigation bar Right column */
#nav-right {
  text-align: right;
}

/* HEADER Image */
.header-image {
  height: 510px;
  background-color: #fff4ed;
  background-image: url("../img/jumbotron.png");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

/* SUB-HEADER Image */
.sub-header-image {
  background-color: #a6e8e0;
  border-top: 1.8px solid  #33475b;
  border-bottom: 2px solid #33475b;
  height: 75px;
}

/* HEADER Head-Title */
#head-title {
  width: 50%;
  padding-top: 70px;
}

#head-title > * {
  padding-bottom: 25px;
}

#head-title h1.title {
  font-size: 45px;
}

#head-title > p:last-child {
  font-size: 12px;
  letter-spacing: -0.8px;
  padding-bottom: 0px;
}

/* MAIN */
main #hub-offers {
  background-color: #f4f9fd;
}

/* MAIN SECTION Hub-Offers GENERAL */
main #hub-offers .checked i.fas {
  color: #ff7a59;
  padding-right: 12px;
}

main #hub-offers .checked li {
  text-transform: capitalize;
}

main #hub-offers .box-wrapper {
  padding: 5% 10%;
}

main #hub-offers .box-style {
  background-color: white;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0, .06);
  border-radius: 8px;
}

main #hub-offers .box-title {
  color: #33475b;
  font-size: 22px;
}

main #hub-offers .box-sub-title {
  color: #33475b;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

/* General-Presentation */
#hub-offers .general-presentation img {
  height: 200px;
  margin: 0 auto;
  display:block;
}

#hub-offers .general-presentation h2 {
  padding-bottom: 20px;
  font-size: 35px;
}

#hub-offers .general-presentation p,
#hub-offers .general-presentation h2 {
  text-align: center;
}

/* Hubspot-Crm */
#hub-offers .hubspot-crm .box-wrapper > .col:first-child {
  width: 25%;
  margin-right: 10%;
  text-align: center;
}

#hub-offers .hubspot-crm .col:first-child img {
  height: 100px;
  margin-bottom: 25px;
}

#hub-offers .hubspot-crm .box-wrapper > .col:nth-child(2) {
  width: 65%;
}

#hub-offers .hubspot-crm .box-wrapper > .col:nth-child(2) > *:not(:last-child) {
  padding-bottom: 30px;
}

#hub-offers .hubspot-crm .checked > li:not(:first-child) {
  padding-left: 18px;
}

#hub-offers .hubspot-crm .box-wrapper > .col:nth-child(2) .inline-title > h4 {
  width: 40%;
}

#hub-offers .hubspot-crm .box-wrapper > .col:nth-child(2) .inline-title hr {
  width: 60%;
  margin-top: 10px;
  border:1.2px solid lightgrey;
}

/* Columns Area Marketing, Sales & Services */
#hub-offers .mark-sale-serv > .col {
  width: 30%;
}

#hub-offers .mark-sale-serv > .col:nth-child(2) {
  margin: 0 5%;
}

#hub-offers .mark-sale-serv {
  padding: 50px 0;
}

#hub-offers .mark-sale-serv h3,
#hub-offers .mark-sale-serv h4,
#hub-offers .mark-sale-serv h3 {
  text-align: center;
}

#hub-offers .mark-sale-serv .box-style > .box-wrapper > hr {
  border:1.2px solid lightgrey;
  margin: 30px 0;
}

#hub-offers .mark-sale-serv .box-style > .box-wrapper > img {
  height: 150px;
  margin: 0 auto;
  display:block;
}

#hub-offers .mark-sale-serv ul.checked li {
  display:block;
  line-height: 1.2;
}

#hub-offers .mark-sale-serv ul.checked + div {
  text-align: center;
}

#hub-offers .mark-sale-serv .box-style > .box-wrapper > *:not(:last-child):not(hr) {
  padding-bottom: 40px;
}

/* MAIN SECTION Community-area */
#community-area {
  background-color: #00b6ad;
}

#community-area .container {
  padding-top: 50px;
  padding-bottom: 100px;
}

#community-area p.text ,
#community-area h2.title {
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

#community-area h2.title {
  font-size: 30px;
}

/* Community-table */
#community-area .community-table .box-table {
  padding: 30px 0;
}

#community-area .community-table .box-table > img {
  height: 35px;
  width: 30%;
}

#community-area .community-table > ul > li:not(:last-child) {
  border-right: 1.2px solid white;
}

#community-area .community-table > ul:not(:last-child) > li {
  border-bottom: 1.2px solid white;
}

#community-area .community-table > ul > li {
  width: 25%;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

#community-area .community-table > ul > li > div {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#community-area .community-table > ul > li > div > span{
  font-size: 35px;
  font-weight: 400;
  padding-left: 5px;
}

#community-area .community-table ul > li > *:not(:last-child) {
  margin-bottom: 15px;
}

/* MAIN SECTION Partners-Area */
#partners-area .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* UP-LINE Partners-Area */
#partners-area .up-line > div:first-child {
  width: 15%;
}

#partners-area .up-line > div:last-child {
  width: 85%;
}

/* UP-LINE Title & Paragraph */
#partners-area .up-line h3.title {
  font-size: 45px;
  padding-bottom: 30px;
}
/* Loghi Partners */
#partners-area .loghi {
  padding:0 250px;
}
#partners-area .loghi li.col {
  width: 25%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
}

/* Top-Line Loghi */
.top-line-loghi > li:nth-child(1) {
  background-image: url("../img/Atlassian-horizontal-blue.webp");
}

.top-line-loghi > li:nth-child(2) {
  background-image: url("../img/doordash_owler_20181011_194113_original@2x.webp");
}

.top-line-loghi > li:nth-child(3) {
  background-image: url("../img/g2crowd-logo.webp");
}

.top-line-loghi > li:nth-child(4) {
  background-image: url("../img/purple-logo.webp");
}

/* Bottom-Line Loghi */
.bottom-line-loghi > li:nth-child(1) {
  background-image: url("../img/Subaru_Logo_v2_186x63@2x.webp");
}

.bottom-line-loghi > li:nth-child(2) {
  background-image: url("../img/Wistia_logo.webp");
}

.bottom-line-loghi > li:nth-child(3) {
  background-image: url("../img/Classpass-logo.webp");
}

.bottom-line-loghi > li:nth-child(4) {
  background-image: url("../img/VMware_logo_gry_RGB_300dpi.webp");
}
